@model IEnumerable<TechnologyCourseSystem.Models.Location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div id="map" style="height:300px"></div>
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationLatitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationLongitude)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="coordinates">
                <td class="description">
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationAddress)
                </td>
                <td class="latitude">
                    @Html.DisplayFor(modelItem => item.LocationLatitude)
                </td>
                <td class="longitude">
                    @Html.DisplayFor(modelItem => item.LocationLongitude)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.LocationId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
                            </p>
                        }
                    }
                    
                </td>
            </tr>
        }
    </tbody>

</table>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/mapbox")
}
