@model IEnumerable<TechnologyCourseSystem.Models.Cours>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course</h2>
<h4>Index</h4>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer.TrainerName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainer.TrainerName)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                            </p>
                        }
                        else
                        {
                            @Html.ActionLink("Details", "Details", new { id = item.CourseId })
                        }
                    }
                </td>

            </tr>
        }
    </tbody>

</table>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
}
