@model IEnumerable<TechnologyCourseSystem.Models.Trainer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trainer</h2>
<h4>Index</h4>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerSpecialisation)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainerSpecialisation)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = item.TrainerId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.TrainerId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.TrainerId })
                            </p>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>

</table>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
}
